.hero{
  background: var(--color-bg-secondary);
  text-align: center;
  a{
    background: var(--gradient);
    color: var(--color-white);
    padding: 12px 29px;
  }
  p{
    margin-bottom: var(--margin-large);
  }
  h4{
    padding-top: var(--padding-large);
  }
  img{
    margin-top: var(--margin-large) ;
  }
}
