:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #F0F0F0;
  --color-bg-tertiary: #202C4A;

  --color-text-primary: #000;
  --color-text-secondary: #fff;

  --gradient: linear-gradient(180deg, #62BDFC 0%, #8490FF 100%);
  --color-black: #000;
  --color-white: #fff;

  --color-link: #202C4A;
  --color-link-visited: #8B8B97;
  --color-link-hover: #E53847;
  --color-link-active: tomato;
  --color-link-focus: cyan;
}