:root{
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Sarabun', sans-serif;

  --font-size-normal: 1rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;

  //--line-height-extra-thin: 1;
  //--line-height-thin: 1.2;
  --line-height-normal: 1.5;
  //--line-height-medium: 1.8;
  //--line-height-large: 2;
  //--line-height-extra-large: 2.4;

}
